@charset "UTF-8";

.card-img-top {
	width: 230px;
	height: 331px;
}

.container {
	display: flex !important;
	flex-wrap: wrap;
}

.card {
	margin: 5px;
}

h2 {
	text-align: center;
	margin-top: 10px;
}

.wrap {
	width: 1000px;
}