@charset "UTF-8";


.wrap{
	width: 960px;
	margin: 0 auto;
}

.desc {
	margin-top: 15px;
	display: flex;
	width: 960px;
	
}

h1 {
	text-align: center;
}

.desc p {
	width: 100px;
}

.movieBox {
	margin-top: 5px;
	display: flex;
	width: 960px;
}
.movieBox p {
	width: 100px;
}

.desc p:nth-child(4){
	width: 100px;
}
.movieBox p:nth-child(4){
	width: 100px;
}
.desc p:nth-child(5){
	width: 150px;
}
.movieBox p:nth-child(5){
	width: 150px;
}
.desc p:nth-child(8){
	width: 150px;
}
.movieBox p:nth-child(8){
	width: 150px;
}
.desc p:last-child{
	width: 100px;
}
.movieBox p:last-child{
	width: 50px;
}
.desc p:first-child{
	width: 50px;
}
.movieBox p:first-child{
	width: 50px;
}

.movieBox button{
	width: 40px;
	height: 20px;
	color: #fff;
	margin:3px;
	background:#004fff;
	border:none;
	border-radius: 15px;
	box-shadow: 0 4px 16px rgba(0,79,255,0.3);
}
