@charset "UTF-8";

.reserveContainer {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	height: 600px;
}

.reserveContainer>div {
	border: 1px solid white;
	/* 	background-color: #242333; */
	background-color: #F0E68C;
}

/* movie 관련 부분 시작  */
.moviePart {
	width: 300px;
}

.movieTitle {
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: gray;
}

.sortWrapper {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	color: black;
	font-weight: bold; 
	border : 1px solid white; 
	border-left-style : none;
	border-right-style : none;
	border-top-style: none;
}

.sortWrapper>div {
	padding: 3px;
	margin-left: 10px;
	margin-bottom: 8px;
}

.sortWrapper>div:hover {
	border-bottom: 1px solid #111111;
}

.movieListWrapper {
	padding: 4px 15px;
}

.movieList {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.movie {
	padding: 10px;
	display: flex;
	background-color: #F0E68C;
	border: none;
	color: black;
}

.selected {
	padding: 10px;
	background-color: #F5FFFA;
	color: black;
	font-weight: bold;
}
/* movie 관련 끝 */

/* 극장 파트 시작  */
.theaterPart {
	width: 300px;
}

.theaterTitle {
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: gray;
}

.theaterWrapper {
	padding-top: 10px;
	padding-left: 12px;
	display: flex;
}

.theaterLocationWrapper {
	display: flex;
	color: black;
	flex-grow: 1;
	flex-direction: column;
	text-align: center;
}

.theaterPlaceWrapper {
	padding-right: 2px;
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: black;
}

.theaterLocation {
	background-color: #F0E68C;
	border: none;
	color: black;
	padding: 6px 5px;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.selectedLocation {
  background-color:  #F5FFFA;
  color: black;
  font-weight: bold;
}

.theaterPlace {
	padding: 6px 5px;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	background-color: #F0E68C;
	border: none;
	color: black;
}

.selectedPlace {
  background-color: #AFEEEE;
  color: black;
  font-weight: bold;
}

/* 극장 파트 끝 */

/* 날짜 파트 시작 */
.dayPart {
	width: 100px;
	color: black;
}

.dateTitle {
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: gray;
}

.reserveDate {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.reserveYear {
	text-align: center;
	font-size: 15px;
}

.reserveMonth {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 10px;
}

.reserveDay {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow: auto;
	height: 270px;
}

.movieDateWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 2px;
    margin-bottom: 6px;
    background-color:  #F0E68C;
    border: none;
}

.movieWeekOfDay {
    margin-left: 5px;
    font-size: 15px;
    width: 12px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
}

.movieDay {
    text-align: center;
    width: 34px;
    height: 22px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.saturday {
    color: #31597E;
    font-weight: bold;
    font-size: 15px;
}

.sunday {
    color: #AF2D2D;
    font-weight: bold;
    font-size: 15px;
}

.movieDateWrapper.selectedBtn {
	background-color: #F5FFFA;
	color: black;
}


/* 날짜 파트 끝 */

/* 시간 파트 시작 */
.timePart {
	width: 400px;
}

.timeTitle {
	text-align: center;
	font-size: 20px;
	color: white;
	background-color: gray;
}

.reserveWhere {
	margin-top: 10px;
	margin-left: 15px;
	padding: 5px;
	color: black;
}

.reserveTimeWrapper {
	margin: 10px;
	padding: 10px;
	border-top-width: 390px;
	border-bottom-width: 390px;
	border: 1px solid white;
	border-left-style: none;
	border-right-style: none;
}

.reserveTimeBtn {
	border: 1px solid gray;
	background-color: #F0E68C;
	width: 50px;
	height: 30px;
	margin-left: 10px;
}

.reserveTimeBtn:focus {
  background-color: #F5FFFA;
  color: black;
  font-weight: bold;
}

.reserveOk {
	margin-left: 250px;
	padding-right: 50px;
}

.reserveBtn {
	width: 100px;
	height: 100px;
	font-weight: bold;
	color: white; 
	background-color : red; 
	border : none;
	border-radius: 20px;
	background-color: red;
}

.reserveBtn:hover {
	box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}

.right {
	font-size: 40px;
}

.letter {
	font-size: 20px;
}
/* 시간 파트 끝 */

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar-track {
    background: #efefef;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
    width: 50px;
    height: 50px;
    background: #444444;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, .1)
}